Repository nrhill1/sec_nlp: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-lint, py-types, rs-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: mixed-line-ending

- repo: local
  hooks:
  - id: py-lint
    name: Python Lint (Ruff)
    entry: make py-lint
    types: [python]
    language: system
    pass_filenames: false

  - id: py-types
    name: Python Typecheck (Mypy)
    entry: make py-types
    types: [python]
    language: system
    pass_filenames: false

  - id: rs-lint
    name: Rust Lint (fmt + clippy)
    entry: make rs-lint
    types: [rust]
    language: system
    pass_filenames: false

adding self._llm typed as BaseLanguageModel[Any]
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/core/vectors/__init__.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
  uv.lock
Due: py-lint, py-types

adding new text splitter from langchain 1.0
  sec_nlp/core/preprocessor.py
  sec_nlp/tests/test_chains_and_validation.py
Due: py-lint, py-types

migrating preprocessor to langchain
  Makefile
  sec_nlp/core/preprocessor.py
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
Due: py-lint, py-types

skipping certain tests because of network blocking
  Cargo.lock
  Makefile
  pyproject.toml
  sec_nlp/core/pipeline.py
  sec_nlp/tests/conftest.py
  sec_nlp/tests/test_chains_and_validation.py
  sec_nlp/tests/test_downloader.py
  sec_nlp/tests/test_enums.py
  sec_nlp/tests/test_pipeline_core.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_enums.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
  uv.lock
Due: py-lint, py-types

forgot one
  sec_nlp/tests/test_pipeline_core.py
Due: py-lint, py-types

adding output parser to build_summarization_runnable
  Makefile
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/api/__init__.py
  sec_nlp/core/config/prompts/sample_prompt_1.yml
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/hf.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/pipelines/__init__.py
  sec_nlp/tests/conftest.py
  sec_nlp/tests/test_chains_and_validation.py
  sec_nlp/tests/test_llms_local_passthrough.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/hf.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_llms_local_passthrough.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
  uv.lock
Due: py-lint, py-types

output parser inherits properly
  Makefile
  pyproject.toml
  sec_nlp/core/llm/chains.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
  uv.lock
Due: py-lint, py-types

adding init files and proper path comment headers to existing files
  sec_nlp/api/__init__.py
  sec_nlp/core/config/logging.py
  sec_nlp/core/config/settings.py
  sec_nlp/core/downloader.py
  sec_nlp/core/enums.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/preprocessor.py
  sec_nlp/pipelines/__init__.py
  sec_nlp/tests/test_pipeline_core.py
Due: py-lint, py-types

updating llm tests
  Makefile
  sec_nlp/tests/test_chains_and_validation.py
  sec_nlp/tests/test_llms_local_passthrough.py
  sec_nlp/tests/test_preprocessor.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
Due: py-lint, py-types

adding pytest.ini
  pytest.ini
Due: none

fixing tests for LLM and CLI
  Makefile
  sec_nlp/tests/conftest.py
  sec_nlp/tests/test_cli.py
  sec_nlp/tests/test_llm_chains.py
  sec_nlp/tests/test_llms_local_passthrough.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_llms_local_passthrough.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
Due: py-lint, py-types

moving typings/ to types/
  Makefile
  pyproject.toml
  sec_nlp/cli/commands/analyze.py
  sec_nlp/cli/commands/embed.py
  sec_nlp/cli/commands/run.py
  sec_nlp/cli/commands/version.py
  sec_nlp/cli/main.py
  types/sec_nlp/cli/__main__.pyi
  types/sec_nlp/cli/commands/analyze.pyi
  types/sec_nlp/cli/commands/embed.pyi
  types/sec_nlp/cli/commands/run.pyi
  types/sec_nlp/cli/commands/version.pyi
  types/sec_nlp/cli/main.pyi
  types/sec_nlp/core/config/logging.pyi
  types/sec_nlp/core/config/settings.pyi
  types/sec_nlp/core/downloader.pyi
  types/sec_nlp/core/enums.pyi
  types/sec_nlp/core/llm/chains.pyi
  types/sec_nlp/core/llm/hf.pyi
  types/sec_nlp/core/llm/ollama.pyi
  types/sec_nlp/core/pipeline.pyi
  types/sec_nlp/core/preprocessor.pyi
  types/sec_nlp/tests/conftest.pyi
  types/sec_nlp/tests/rust/test_sec_o3.pyi
  types/sec_nlp/tests/test_cli.pyi
  types/sec_nlp/tests/test_downloader.pyi
  types/sec_nlp/tests/test_enums.pyi
  types/sec_nlp/tests/test_llm_chains.pyi
  types/sec_nlp/tests/test_pipeline_core.pyi
  types/sec_nlp/tests/test_preprocessor.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_llms_local_passthrough.pyi
  uv.lock
Due: py-lint, py-types

remove core.config moduke
  src/sec_nlp/core/_config/__init__.py
Due: py-lint, py-types

reformatted types
  types/sec_nlp/cli/commands/run.pyi
  types/sec_nlp/cli/ui.pyi
  types/sec_nlp/core/downloader.pyi
  types/sec_nlp/core/enums.pyi
  types/sec_nlp/core/llm/chains.pyi
  types/sec_nlp/core/llm/ollama.pyi
  types/sec_nlp/core/logging.pyi
  types/sec_nlp/core/preprocessor.pyi
  types/sec_nlp/pipelines/base.pyi
  types/sec_nlp/pipelines/impl/analysis.pyi
  types/sec_nlp/pipelines/impl/embed.pyi
  types/sec_nlp/pipelines/impl/summary.pyi
Due: none

fix py-lint and rs-lint targets
  Makefile
Due: none

beginning cli work
  src/sec_nlp/cli/__main__.py
  src/sec_nlp/cli/commands/summarize.py
  src/sec_nlp/pipelines/base.py
  src/sec_nlp/pipelines/embed/config.py
  src/sec_nlp/pipelines/summary/config.py
  src/sec_nlp/pipelines/summary/pipeline.py
  types/sec_nlp/cli/__main__.pyi
  types/sec_nlp/cli/commands/info.pyi
  types/sec_nlp/cli/commands/summarize.pyi
  types/sec_nlp/cli/ui.pyi
  types/sec_nlp/core/downloader.pyi
  types/sec_nlp/core/enums.pyi
  types/sec_nlp/core/llm/chains.pyi
  types/sec_nlp/core/llm/ollama.pyi
  types/sec_nlp/core/logging.pyi
  types/sec_nlp/core/preprocessor.pyi
  types/sec_nlp/pipelines/analysis/config.pyi
  types/sec_nlp/pipelines/analysis/pipeline.pyi
  types/sec_nlp/pipelines/base.pyi
  types/sec_nlp/pipelines/embed/config.pyi
  types/sec_nlp/pipelines/embed/pipeline.pyi
  types/sec_nlp/pipelines/registry.pyi
  types/sec_nlp/pipelines/settings.pyi
  types/sec_nlp/pipelines/summary/config.pyi
  types/sec_nlp/pipelines/summary/pipeline.pyi
Due: py-lint, py-types

removing typer
  pyproject.toml
  src/sec_nlp/cli/__main__.py
  src/sec_nlp/cli/commands/__init__.py
  src/sec_nlp/cli/commands/analyze.py
  src/sec_nlp/cli/commands/embed.py
  src/sec_nlp/cli/commands/summarize.py
  src/sec_nlp/core/enums.py
  src/sec_nlp/pipelines/__init__.py
  src/sec_nlp/pipelines/analysis/pipeline.py
  src/sec_nlp/pipelines/base.py
  src/sec_nlp/pipelines/embed/pipeline.py
  src/sec_nlp/pipelines/registry.py
  src/sec_nlp/pipelines/summary/pipeline.py
  types/sec_nlp/pipelines/registry.pyi
  uv.lock
Due: py-lint, py-types

init pydantic cli
  src/sec_nlp/cli/__main__.py
  src/sec_nlp/cli/commands/__init__.py
  src/sec_nlp/cli/commands/examples.py
  src/sec_nlp/cli/commands/info.py
Due: py-lint, py-types

init pydantic cli
  pyproject.toml
  uv.lock
Due: none

fix file size logging
  src/sec_nlp/core/ingest/loader.py
Due: py-lint, py-types

fix file size logging
  src/sec_nlp/core/ingest/exhibit_downloader.py
Due: py-lint, py-types

fix file comment headers
  src/scripts/format_ty_output.py
  src/scripts/profile/memory.py
  src/sec_nlp/pipelines/base/__init__.py
  src/sec_nlp/pipelines/chunk_filters.py
  src/sec_nlp/pipelines/exceptions.py
  src/sec_nlp/pipelines/metadata/__init__.py
  src/sec_nlp/pipelines/metadata/accession.py
  src/sec_nlp/pipelines/metadata/exhibit10.py
  src/sec_nlp/pipelines/metadata/filters.py
  src/sec_nlp/pipelines/observability/telemetry.py
  src/sec_nlp/pipelines/output_io.py
  src/sec_nlp/pipelines/presets/analyze/payloads.py
  src/sec_nlp/pipelines/presets/exb_10/exhibits.py
  src/sec_nlp/pipelines/presets/exb_10/payloads.py
  src/sec_nlp/pipelines/presets/warranty/payloads.py
  src/sec_nlp/pipelines/presets/warranty/types.py
  src/sec_nlp/pipelines/vector/client.py
  src/sec_nlp/pipelines/vector/query.py
  src/sec_nlp/pipelines/vector/store.py
  src/sec_nlp/prompts/loader.py
  src/sec_nlp/prompts/paths.py
  src/sec_nlp/types.py
Due: py-lint, py-types

remove search.enabled - search runs by default
  README.md
  src/sec_nlp/cli/commands/analyze.py
  src/sec_nlp/cli/presets.py
  src/sec_nlp/pipelines/presets/analyze/README.md
  src/sec_nlp/pipelines/presets/analyze/config.py
  src/sec_nlp/pipelines/presets/analyze/pipeline.py
  src/sec_nlp/pipelines/presets/analyze/vector_search.py
  tests/pipelines/presets/test_analyze_pipeline.py
  tests/pipelines/presets/test_analyze_search_filters.py
Due: py-lint, py-types

unify search queries, matched query metadata, and summary export
  src/sec_nlp/cli/__main__.py
  src/sec_nlp/pipelines/presets/analyze/README.md
  src/sec_nlp/pipelines/presets/analyze/analysis_runner.py
  src/sec_nlp/pipelines/presets/analyze/config.py
  src/sec_nlp/pipelines/presets/analyze/models.py
  src/sec_nlp/pipelines/presets/analyze/outputs.py
  src/sec_nlp/pipelines/presets/analyze/payloads.py
  src/sec_nlp/pipelines/presets/analyze/pipeline.py
  src/sec_nlp/pipelines/presets/analyze/result_writer.py
  src/sec_nlp/pipelines/presets/analyze/vector_search.py
  src/sec_nlp/pipelines/presets/exb_10/pipeline.py
  src/sec_nlp/pipelines/presets/exb_10/search_config.py
  src/sec_nlp/pipelines/types.py
  src/sec_nlp/prompts/analyze.yaml
  tests/cli/test_cli_commands.py
  tests/cli/test_cli_integration.py
  tests/cli/test_cli_main.py
  tests/pipelines/presets/test_analyze_pipeline.py
  tests/pipelines/presets/test_analyze_search_filters.py
  tests/pipelines/presets/test_exhibit10_search.py
Due: py-lint, py-types

fix analyze README
  src/sec_nlp/core/llm/ollama.py
  src/sec_nlp/pipelines/presets/analyze/README.md
Due: py-lint, py-types

remove unused import
  src/sec_nlp/core/llm/ollama.py
Due: py-lint, py-types

fix analyze README
  src/sec_nlp/pipelines/presets/analyze/README.md
Due: none

fix test paths
  tests/conftest.py
  tests/pipelines/test_base.py
  tests/pipelines/test_base_edge_cases.py
Due: py-lint, py-types

analyze always creates QdrantVectorStore
  src/sec_nlp/pipelines/presets/analyze/pipeline.py
  src/sec_nlp/pipelines/presets/analyze/steps/analysis/analysis_runner.py
  src/sec_nlp/pipelines/presets/analyze/steps/indexing/vector_index.py
Due: py-lint, py-types

add numeric signal test to analyze test suite
  src/sec_nlp/pipelines/presets/analyze/steps/indexing/vector_index.py
  tests/pipelines/presets/test_analyze_analysis_runner.py
Due: py-lint, py-types

adding output provenance
  src/sec_nlp/pipelines/presets/analyze/__init__.py
  src/sec_nlp/pipelines/presets/analyze/io/outputs.py
  src/sec_nlp/pipelines/presets/analyze/models.py
  src/sec_nlp/pipelines/presets/analyze/pipeline.py
  src/sec_nlp/pipelines/types.py
Due: py-lint, py-types

add market crate and makefile targets
  Makefile
  crates/market/Cargo.toml
  crates/market/Makefile
  crates/market/README.md
  crates/market/src/lib.rs
Due: rs-lint

Add market extension retrieval, maturin build, and Rust tests
  AGENTS.md
  Makefile
  crates/market/Cargo.toml
  crates/market/Makefile
  crates/market/README.md
  crates/market/src/lib.rs
  pyproject.toml
  src/sec_nlp/core/__init__.py
  src/sec_nlp/core/market.py
  uv.lock
Due: py-lint, py-types, rs-lint

adding int/float env utils
  AGENTS.md
  src/sec_nlp/core/infra/settings.py
Due: py-lint, py-types

Add maturin-ready market crate and makefile targets
  README.md
  pyproject.toml
  src/Makefile
  src/sec_nlp/cli/commands/__init__.py
  src/sec_nlp/cli/commands/market.py
  src/sec_nlp/cli/commands/root.py
  src/sec_nlp/core/market.py
  types/market/__init__.pyi
  types/sec_nlp/cli/commands/market.pyi
  types/sec_nlp/core/market.pyi
  uv.lock
Due: py-lint, py-types
