Repository nrhill1/sec_nlp: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-typecheck, rust-lint

python-lint:
  name: Python Lint (Ruff)
  entry: make python-lint
  language: system
  pass_filenames: false

python-typecheck:
  name: Python Typecheck (Mypy)
  entry: make python-typecheck
  language: system
  pass_filenames: false

rust-lint:
  name: Rust Lint (fmt + clippy)
  entry: make rust-lint
  language: system
  pass_filenames: false

removing unnecessary modules in crate
  Makefile
  crates/sec_o3/src/corp/facts.rs
  crates/sec_o3/src/corp/mod.rs
  crates/sec_o3/src/corp/submissions.rs
  crates/sec_o3/src/errors.rs
  crates/sec_o3/src/filings/metadata.rs
  crates/sec_o3/src/filings/mod.rs
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/parse/infer.rs
  crates/sec_o3/src/parse/mod.rs
  crates/sec_o3/src/utils/cik.rs
  crates/sec_o3/src/utils/mod.rs
  crates/sec_o3/src/utils/urls.rs
Due: rust-lint

adding in ollama model
  Makefile
  sec_nlp/llm/base.py
  sec_nlp/llm/base.pyi
  sec_nlp/llm/chains.py
  sec_nlp/llm/local_t5.py
  sec_nlp/llm/ollama.py
Due: python-lint, python-typecheck

adding in ollama model
  sec_nlp/llm/ollama.py
Due: python-lint, python-typecheck

rename build_sec_runnable > build_summarization_runnable
  sec_nlp/__init__.py
  sec_nlp/core/pipeline.py
  sec_nlp/llm/chains.py
  sec_nlp/tests/unit/test_chains_and_validation.py
  sec_nlp/tests/unit/test_pipeline_core.py
Due: python-lint, python-typecheck

rename LocalLLM to LocalLLMBase and add ollama to pipeline
  Makefile
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/core/pipeline.py
  sec_nlp/llm/__init__.py
  sec_nlp/llm/base.py
  sec_nlp/llm/base.pyi
  sec_nlp/llm/chains.py
  sec_nlp/llm/local_t5.py
  sec_nlp/llm/ollama.py
  sec_nlp/tests/unit/conftest.py
  sec_nlp/tests/unit/test_chains_and_validation.py
  sec_nlp/vectors/__init__.py
  uv.lock
Due: python-lint, python-typecheck

finished cik lookup and added numerous Client features
  .gitignore
  .rustfmt.toml
  Cargo.lock
  Makefile
  crates/sec_o3/Cargo.toml
  crates/sec_o3/src/client/mod.rs
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/python.rs
  crates/sec_o3/src/utils/cik.rs
  crates/sec_o3/src/utils/form_type.rs
  crates/sec_o3/src/utils/mod.rs
  crates/sec_o3/src/utils/urls.rs
  crates/sec_o3/tests/main_tests.rs
  sec_nlp/__init__.py
  sec_nlp/cli/__init__.py
  sec_nlp/cli/__main__.py
  sec_nlp/cli/commands/__init__.py
  sec_nlp/cli/utils/__init__.py
  sec_nlp/config/prompts/__init__.py
  sec_nlp/core/__init__.py
  sec_nlp/core/config/__init__.py
  sec_nlp/core/config/logging.py
  sec_nlp/core/config/prompts/__init__.py
  sec_nlp/core/config/prompts/sample_prompt_1.yml
  sec_nlp/core/config/settings.py
  sec_nlp/core/downloader.py
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/base.pyi
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/core/preprocessor.py
  sec_nlp/core/vectors/__init__.py
  stubs/sec_o3/sec_o3.pyi
Due: python-lint, python-typecheck, rust-lint

allow dead ticker field and increase cache size to 15000
  crates/sec_o3/src/utils/cik.rs
Due: rust-lint

updating makefile with shorter commands
  Makefile
Due: none

fix makefile typo
  .github/workflows/autosquash.yml
  .github/workflows/ci.yml
  Makefile
Due: none

fix populate_cache test - don't use unwrap, assert result is ok
  crates/sec_o3/src/client/mod.rs
  crates/sec_o3/src/utils/cik.rs
Due: rust-lint

fix populate_cache test - don't use unwrap, assert result is ok
  .pre-commit-config.yaml
  Cargo.lock
  crates/sec_o3/Cargo.toml
  crates/sec_o3/src/filings.rs
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/utils/mod.rs
  crates/sec_o3/src/utils/urls.rs
Due: rust-lint

fixed get_submissions by using serde default macro for RecentFilings
  crates/sec_o3/src/filings.rs
Due: rust-lint

fixed get_filings by unwrap_or_default
  Cargo.lock
  crates/sec_o3/Cargo.toml
  crates/sec_o3/src/client/mod.rs
  crates/sec_o3/src/filings.rs
  crates/sec_o3/src/utils/cik.rs
Due: rust-lint

adding &str to utc datetime conversion fn
  Cargo.lock
  crates/sec_o3/Cargo.toml
  crates/sec_o3/src/client/mod.rs
  crates/sec_o3/src/client/rate_limit.rs
  crates/sec_o3/src/client/retry.rs
  crates/sec_o3/src/client/validation.rs
  crates/sec_o3/src/errors.rs
  crates/sec_o3/src/filings.rs
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/python.rs
  crates/sec_o3/src/utils/cik.rs
  crates/sec_o3/src/utils/form_type.rs
  crates/sec_o3/src/utils/mod.rs
  crates/sec_o3/tests/main_tests.rs
Due: rust-lint

adding root dir to crate constants
  crates/sec_o3/src/lib.rs
Due: rust-lint

correcting precommit hooks with new makefile commands
  .pre-commit-config.yaml
  crates/sec_o3/src/filings.rs
  pyproject.toml
  src/sec_nlp/__init__.py
  src/sec_nlp/cli/__init__.py
  src/sec_nlp/cli/__main__.py
  src/sec_nlp/cli/commands/__init__.py
  src/sec_nlp/core/__init__.py
  src/sec_nlp/core/config/__init__.py
  src/sec_nlp/core/config/logging.py
  src/sec_nlp/core/config/prompts/__init__.py
  src/sec_nlp/core/config/prompts/sample_prompt_1.yml
  src/sec_nlp/core/config/settings.py
  src/sec_nlp/core/downloader.py
  src/sec_nlp/core/llm/__init__.py
  src/sec_nlp/core/llm/base.py
  src/sec_nlp/core/llm/base.pyi
  src/sec_nlp/core/llm/chains.py
  src/sec_nlp/core/llm/local_t5.py
  src/sec_nlp/core/llm/ollama.py
  src/sec_nlp/core/pipeline.py
  src/sec_nlp/core/preprocessor.py
  src/sec_nlp/core/types.py
  src/sec_nlp/core/vectors/__init__.py
  src/sec_nlp/py.typed
  src/sec_nlp/tests/unit/conftest.py
  src/sec_nlp/tests/unit/rust/test_edgars.py
  src/sec_nlp/tests/unit/test_chains_and_validation.py
  src/sec_nlp/tests/unit/test_cli.py
  src/sec_nlp/tests/unit/test_llms_local_passthrough.py
  src/sec_nlp/tests/unit/test_pipeline_core.py
  src/sec_nlp/tests/unit/test_types.py
  src/sec_nlp/tests/unit/utils/test_downloader.py
  src/sec_nlp/tests/unit/utils/test_preprocessor.py
Due: python-lint, python-typecheck, rust-lint

moving tests
  Cargo.lock
  Makefile
  crates/sec_o3/Cargo.toml
  crates/sec_o3/src/client/retry.rs
  crates/sec_o3/src/errors.rs
  crates/sec_o3/src/filings.rs
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/python.rs
  crates/sec_o3/src/utils/cik.rs
  crates/tests/main_tests.rs
  crates/tests/mod.rs
  pyproject.toml
  src/tests/__init__.py
  src/tests/unit/conftest.py
  src/tests/unit/rust/test_edgars.py
  src/tests/unit/test_chains_and_validation.py
  src/tests/unit/test_cli.py
  src/tests/unit/test_llms_local_passthrough.py
  src/tests/unit/test_pipeline_core.py
  src/tests/unit/test_types.py
  src/tests/unit/utils/test_downloader.py
  src/tests/unit/utils/test_preprocessor.py
  uv.lock
Due: python-lint, python-typecheck, rust-lint

changing gitignore
  .gitignore
Due: none

changing default data directory
  .gitignore
  src/sec_nlp/core/pipeline.py
Due: python-lint, python-typecheck

moving tests
  crates/tests/main_tests.rs
  crates/tests/mod.rs
  pyproject.toml
  tests/__init__.py
  tests/unit/conftest.py
  tests/unit/rust/test_edgars.py
  tests/unit/test_chains_and_validation.py
  tests/unit/test_cli.py
  tests/unit/test_llms_local_passthrough.py
  tests/unit/test_pipeline_core.py
  tests/unit/test_types.py
  tests/unit/utils/test_downloader.py
  tests/unit/utils/test_preprocessor.py
Due: python-lint, python-typecheck, rust-lint

moving tests
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/cli/__init__.py
  sec_nlp/cli/__main__.py
  sec_nlp/cli/commands/__init__.py
  sec_nlp/core/__init__.py
  sec_nlp/core/config/__init__.py
  sec_nlp/core/config/logging.py
  sec_nlp/core/config/prompts/__init__.py
  sec_nlp/core/config/prompts/sample_prompt_1.yml
  sec_nlp/core/config/settings.py
  sec_nlp/core/downloader.py
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/base.pyi
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/core/preprocessor.py
  sec_nlp/core/types.py
  sec_nlp/core/vectors/__init__.py
  sec_nlp/py.typed
  tests/unit/conftest.py
  tests/unit/rust/test_sec_o3.py
  tests/unit/test_chains_and_validation.py
  tests/unit/test_llms_local_passthrough.py
Due: python-lint, python-typecheck

moving tests
  tests/unit/test_chains_and_validation.py
  tests/unit/test_downloader.py
  tests/unit/test_preprocessor.py
Due: python-lint, python-typecheck

fixing paths again
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  sec_nlp/tests/__init__.py
  sec_nlp/tests/unit/conftest.py
  sec_nlp/tests/unit/rust/test_sec_o3.py
  sec_nlp/tests/unit/test_chains_and_validation.py
  sec_nlp/tests/unit/test_cli.py
  sec_nlp/tests/unit/test_downloader.py
  sec_nlp/tests/unit/test_llms_local_passthrough.py
  sec_nlp/tests/unit/test_pipeline_core.py
  sec_nlp/tests/unit/test_preprocessor.py
  sec_nlp/tests/unit/test_types.py
Due: python-lint, python-typecheck

llms > llm
  pyproject.toml
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/tests/unit/conftest.py
  tests/unit/conftest.py
  uv.lock
Due: python-lint, python-typecheck

llms > llm
  pyproject.toml
Due: none

fixing test targets
  Makefile
  pyproject.toml
  sec_nlp/tests/unit/conftest.py
  tests/unit/conftest.py
Due: python-lint, python-typecheck

fix default_prompt_path and remove leading underscore from name
  Makefile
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/cli/__main__.py
  sec_nlp/core/__init__.py
  sec_nlp/core/config/__init__.py
  sec_nlp/core/config/settings.py
  sec_nlp/core/downloader.py
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/core/preprocessor.py
  sec_nlp/tests/unit/test_downloader.py
  sec_nlp/tests/unit/test_pipeline_core.py
Due: python-lint, python-typecheck

add stubs for sec_o3 and typing for __all__
  .gitignore
  crates/sec_o3/sec_o3.pyi
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/core/__init__.py
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.pyi
  sec_nlp/core/llm/chains.py
  sec_nlp/core/pipeline.py
Due: python-lint, python-typecheck

adding full stubs
  pyproject.toml
  sec_nlp/core/pipeline.py
  stubs/sec_nlp/__init__.pyi
  stubs/sec_nlp/cli/__init__.pyi
  stubs/sec_nlp/cli/__main__.pyi
  stubs/sec_nlp/cli/commands/__init__.pyi
  stubs/sec_nlp/core/__init__.pyi
  stubs/sec_nlp/core/config/__init__.pyi
  stubs/sec_nlp/core/config/logging.pyi
  stubs/sec_nlp/core/config/prompts/__init__.pyi
  stubs/sec_nlp/core/config/settings.pyi
  stubs/sec_nlp/core/downloader.pyi
  stubs/sec_nlp/core/llm/__init__.pyi
  stubs/sec_nlp/core/llm/base.pyi
  stubs/sec_nlp/core/llm/chains.pyi
  stubs/sec_nlp/core/llm/local_t5.pyi
  stubs/sec_nlp/core/llm/ollama.pyi
  stubs/sec_nlp/core/pipeline.pyi
  stubs/sec_nlp/core/preprocessor.pyi
  stubs/sec_nlp/core/types.pyi
  stubs/sec_nlp/core/vectors/__init__.pyi
  stubs/sec_nlp/tests/__init__.pyi
  stubs/sec_nlp/tests/unit/conftest.pyi
  stubs/sec_nlp/tests/unit/rust/test_sec_o3.pyi
  stubs/sec_nlp/tests/unit/test_chains_and_validation.pyi
  stubs/sec_nlp/tests/unit/test_cli.pyi
  stubs/sec_nlp/tests/unit/test_downloader.pyi
  stubs/sec_nlp/tests/unit/test_llms_local_passthrough.pyi
  stubs/sec_nlp/tests/unit/test_pipeline_core.pyi
  stubs/sec_nlp/tests/unit/test_preprocessor.pyi
  stubs/sec_nlp/tests/unit/test_types.pyi
Due: python-lint, python-typecheck

check if prompt is not None before returning as str else empty str
  sec_nlp/core/pipeline.py
Due: python-lint, python-typecheck

clarify docstring for build function
  sec_nlp/core/llm/chains.py
Due: python-lint, python-typecheck

small makefile changes
  Makefile
  uv.lock
Due: none

beginning to remove pinecone
  sec_nlp/core/config/__init__.py
  sec_nlp/core/config/settings.py
  sec_nlp/core/pipeline.py
  stubs/sec_nlp/core/config/settings.pyi
Due: python-lint, python-typecheck

pipeline refactor
  Makefile
  pyproject.toml
  sec_nlp/core/config/logging.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/core/preprocessor.py
  stubs/sec_nlp/cli/__main__.pyi
  stubs/sec_nlp/core/llm/base.pyi
  stubs/sec_nlp/core/llm/local_t5.pyi
  stubs/sec_nlp/core/llm/ollama.pyi
  stubs/sec_nlp/core/pipeline.pyi
  stubs/sec_nlp/tests/conftest.pyi
  stubs/sec_nlp/tests/rust/test_sec_o3.pyi
  stubs/sec_nlp/tests/test_chains_and_validation.pyi
  stubs/sec_nlp/tests/test_cli.pyi
  stubs/sec_nlp/tests/test_downloader.pyi
  stubs/sec_nlp/tests/test_enums.pyi
  stubs/sec_nlp/tests/test_llms_local_passthrough.pyi
  stubs/sec_nlp/tests/test_pipeline_core.pyi
  stubs/sec_nlp/tests/test_preprocessor.pyi
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  uv.lock
Due: python-lint, python-typecheck

removing unreachable code and fixing local_t5 model_post_init and _load_backend
  .gitignore
  Makefile
  crates/sec_o3/sec_o3.pyi
  sec_nlp/core/downloader.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  sec_nlp/core/pipeline.py
  sec_nlp/tests/test_chains_and_validation.py
  typings/sec_nlp/cli/__main__.pyi
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/enums.pyi
  typings/sec_nlp/tests/rust/test_sec_o3.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_downloader.pyi
  typings/sec_nlp/tests/test_llms_local_passthrough.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
  typings/sec_nlp/tests/test_preprocessor.pyi
Due: python-lint, python-typecheck

generating stubs and dealing with runnable type error with mypy
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/local_t5.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
Due: python-lint, python-typecheck

add rust flags and nightly to makefile
  Makefile
  pyproject.toml
  sec_nlp/__init__.py
  sec_nlp/core/llm/__init__.py
  sec_nlp/core/llm/base.py
  sec_nlp/core/llm/chains.py
  sec_nlp/core/llm/local_t5.py
  sec_nlp/core/llm/ollama.py
  typings/sec_nlp/core/llm/base.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/tests/conftest.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  uv.lock
Due: python-lint, python-typecheck

renamed SECFilingDownloader to FilingManager
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/utils/cik.rs
  sec_nlp/__init__.py
  sec_nlp/core/__init__.py
  sec_nlp/core/downloader.py
  sec_nlp/core/pipeline.py
  sec_nlp/tests/test_downloader.py
  sec_nlp/tests/test_pipeline_core.py
  typings/sec_nlp/core/config/logging.pyi
  typings/sec_nlp/core/config/settings.pyi
  typings/sec_nlp/core/downloader.pyi
  typings/sec_nlp/core/enums.pyi
  typings/sec_nlp/core/llm/chains.pyi
  typings/sec_nlp/core/llm/local_t5.pyi
  typings/sec_nlp/core/llm/ollama.pyi
  typings/sec_nlp/core/pipeline.pyi
  typings/sec_nlp/core/preprocessor.pyi
  typings/sec_nlp/tests/test_chains_and_validation.pyi
  typings/sec_nlp/tests/test_cli.pyi
  typings/sec_nlp/tests/test_pipeline_core.pyi
Due: python-lint, python-typecheck, rust-lint

exclude doctests for now...
  Makefile
  crates/sec_o3/src/lib.rs
  crates/sec_o3/src/utils/cik.rs
  sec_nlp/core/llm/base.py
Due: python-lint, python-typecheck, rust-lint

Path conditions:
  python-lint: any of: \.py$
  python-typecheck: any of: \.py$
  rust-lint: any of: \.rs$
